*.db
Data/nasdaq_exteral_data.csv
*.png
*.jpg
*.jpeg
passwords.txt
*.log
*.json
.env
/SEC_Downloads/
/sec-edgar-filings/
config.py
/__pycache__/
Data/news_formatted_rows_clean.csv
backup/news_associated_tickers.csv
venv
*.html
/Results/*
/KG/dataset_cache/*
/KG/model_cache/*
*.pt